* {
	text-align: center;
	width: 100%;
	height: 100%;
	background: url('http://wallup.net/wp-content/uploads/2016/05/24/143432-nature-Pokemon.jpg') no-repeat center center fixed;
	margin: 0;
	padding: 0;
}

.container-fluid {
	height: 15%;
}

.row {
	margin: 0;
}

div#first-row {
	height: 50px;
}

div#second-row {
	height: 100px;
}

#pet-name {
	text-align: center;
}

#hunger-display {
	border: 1px solid black;
}

#hunger-display.col-3 h5 {
	height: 50px;
	margin: 0;
	padding: 0;
}

#hunger-display.col-3 p {
	height: 40px;
	margin: 0;
	padding: 0;
}

#sleepiness-display {
	border: 1px solid black;
}

#sleepiness-display.col-3 h5 {
	height: 50px;
	margin: 0;
	padding: 0;
}

#sleepiness-display.col-3 p {
	height: 40px;
	margin: 0;
	padding: 0;
}

#boredom-display {
	border: 1px solid black;
}

#boredom-display.col-3 h5 {
	height: 50px;
	margin: 0;
	padding: 0;
}

#boredom-display.col-3 p {
	height: 40px;
	margin: 0;
	padding: 0;
}

#age-display {
	border: 1px solid black;
}

#age-display.col-3 h5 {
	height: 50px;
	margin: 0;
	padding: 0;
}

#age-display.col-3 p {
	height: 40px;
	margin: 0;
	padding: 0;
}

div.btn-toolbar {
	height: 100px;
}

div.btn-group.mr-2 {
	margin-left: 8px;
	margin-right: 8px;
}

button.btn.btn-primary {
	background-image: none;
	border-color: black;
}

#feeding-button {
	background-color: red;
}

#play-button {
	background-color: white;
	color: red;
}

#lights-button {
	background-color: red;
}

#exercise-button {
	background-color: white;
	color: red;
}

#item-box {
	height: 580px;
}

#shellder-box {
	width: 300px;
	height: 300px;
	position: absolute;
	margin-top: 280px;
	margin-left: 33%;
}
